* {
    color: black;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

h1, h2 {
    text-align: center;
}

h2 {
    border: #3E5151;
}


p{
    font-style: italic;
}
li {
    padding: 0.5em; 
    color: #3E5151;
}
.blog1-container, .blog2-container {
    margin: 3em;
    font-size: 22px;
}

.show-blog {
    /* background-color: rgb(164, 184, 126); */
    padding-block: 2em;
    padding-inline: 2em;
    margin: 1em;
    border: 1px solid yellowgreen;
}

.blog-list {
    margin: 2em;
    color: #41403e;
}
.readMore {
    padding: 2em;
}
.blog-heading {
    font-size: 30px;text-align: left;
}
.status-code {
    padding: 2em;
}

