* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, cursive;
    color:whitesmoke;
}
html { 
    scroll-behavior: smooth
    }

body{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./navbarImages/background.jpg);
    background-size: contain;
}
main{
    padding-top: 78px;
}

main:not(#main-project-container) {
    height:100vh;
}
h1 {
    padding: 2em;
}

h2 {
    padding: 1em;
}

ul {
    padding: 1em;
}

.aTag {
    font-size: 24px;
    text-decoration: none;
}

.aTag , .btnLink{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%;
}

li {
    list-style: none;
}


/* NAVBAR CONTAINER -----------------------------------------------------------------------------*/

.navbar-container {
    display: flex;
    gap: 50px;
}

.navbar-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    gap: 15px;
    padding-block: 25px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* social-media-navbar-container------------------------------- */
.sticky-social-img {
    position: fixed;
    left: 0;
}

/* display screen--------------------------------------- */

.rest-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.social-media-container {
    background-color: silver;
    display: flex;
    width: 45%;
    padding: 0.1em;
    margin-left: 10em;
}
.social-tag {
   width: 50px;

}

.social-img {
    width: 100%;
    
}

/* display-container-------------- */
.display-container {
    border-left: 3px solid rgb(191, 203, 216);
    border-bottom: 3px solid rgb(191, 203, 216);
    border-radius: 0.3em;
    max-width: 75%;
}

.screen {
    font-size: 25px;
    padding: 2em;
    padding-bottom: 1em;
}

.intro {
    padding-bottom: 0.2em;
}
.intro-name {
    font-size: 4rem;
    padding-bottom: 0.2em;
}
.intro-breif {
    font-size: 1.2rem;
    padding-bottom: 0.5em;
}
.screenImg {
    width: 50%;
}

.hide {
    display: none;
}
/* clean css ----------------------------------------------------------------------------------------------------*/

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    height: 100%;
    margin-inline: auto;
    font-size: 28px;
}
.about-border{
    padding: 1em 3em;
    border-left: 2px solid olive;
    border-right: 2px solid olive;
    border-radius: 0.5em;
}
#main-project-container{
    padding-top: 78px;
}
.about-languages {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em;
}
/* project------------------------------------------------------ */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin-inline: auto;
    gap: 1em;
}
.p-img {
    width: 80%;
    padding: 1em;
}
.card-img {
    padding: 0.5em;
}
.card {
    border: 0.8px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin-inline: 2em;
    margin-block: 1em;
    padding: 1.5em;
}


/* blog------------------------------------------------------- */
.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 65%;
    border: 3px solid olive;
    margin-inline: auto;
    padding: 2em;
}

.footer-container {
    position: fixed;
    bottom: 0;
    height: 100%;
}

.btnLink {
    padding: 0.6em;
    border-radius: 1em;
    background-color: gray;
    color: aliceblue;
    margin-block: 1.2em;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnLink:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btnLink:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
.btn {
    display: flex;
    gap: 2em;
}
.footer-link {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50px;
    padding-left: 10px;
    height: 100%;
    justify-content: center;
    gap: 15px;
}